<!-- Generated template for the MenuComponent component -->
<ion-grid  style="background-color:steelblue">
        <ion-row>
            <ion-col col-4>
                <button ion-button small (click)="blueAction()">Blue</button>
            </ion-col> 
            <ion-col col-4>
                    <button ion-button small color="secondary" (click)="greenAction()">Green</button>
            </ion-col> 
            <ion-col col-4>
                <button ion-button small color="danger" (click)="redAction()">Red</button>
            </ion-col>
        </ion-row>
</ion-grid>
